<ion-card>
  <ion-card-header>


  </ion-card-header>
  
  <ion-card-content>
<ion-grid>
    <ion-row>
      <ion-col class="ion-no-padding" size="3">

        <ion-img src="../../../assets/img/logo.png"></ion-img>

      </ion-col>
      
      <ion-col  class="ion-no-padding colum" size="9">
        <ion-card-title>GLÜCKLICH</ion-card-title>

        <div class="content1">
          <ion-card-subtitle> Beschreib dein Tag mit einem Wort?
          </ion-card-subtitle><br>
          <ion-text  class="ion-text-wrap">bsp.
          </ion-text>
        </div>

        <div class="content2">
          <ion-card-subtitle>Was hast du alles gemacht?
          </ion-card-subtitle><br>
          <ion-text>bsp.
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-card-content>

</ion-card>