ion-img{
    position: relative;
    bottom: 35px;
    width: 115%;
}


ion-card-title{
    font-size:18px;
    text-transform: uppercase;
}

ion-card-subtitle{
    text-transform: capitalize;
}

.content1{
    position: relative;
    top: 20px;
}

.content2{
    position: relative;
    top: 30px;
}

.ion-text-wrap{
    position: relative;
    bottom: 20px;
}
.colum{
    position: relative;
    left: 18px;
    bottom: 25px;
}

ion-card-header {
    display: flex;
    justify-content: flex-end;
}

.date{
    position: relative;
    top: 15px;
    left: 20px;
    font-size: 12px;
}
