.toolbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.form{
    height: 100%;
    display: flex;
    flex-direction: column;

}

ion-icon{
    color: #092C5E;
}

.footer{
    display: flex;
    justify-content: flex-end;
}