<ion-app>
  <ion-header [translucent]="true" class="ion-no-border">
    <img src="assets/img/starfish_happy.png">
    <ion-title>Profil</ion-title>
    <div>
      <ion-button class="setting_icon" fill="none" size="large" (click)="openModal()">
        <ion-icon name="settings-outline"> </ion-icon>
      </ion-button>
    </div>
  </ion-header>


  <ion-content>
    <!--div class="container" *ngIf="currentUser; else loggedOut">
      <p>
        <strong>Token:</strong>
        {{ currentUser.accessToken.substring(0, 20) }} ...
        {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}
      </p>
      <p>
        <strong>Email:</strong>
        {{ currentUser.email }}
      </p>
      <strong>Roles:</strong>
  <ul>
    <li *ngFor="let r of currentUser.role">
      {{ role }}
    </li>
  </ul>
    </div-->

    <app-profilmood></app-profilmood>
  </ion-content>
</ion-app>