.logo{
    max-width: 19%;
    margin: 10px 30px 0px 30px;
}
ion-header{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
}

ion-title{
    margin-left: -34px;
}

.setting_icon{
position: relative;
    right: 30px;}
    