img {
    width: 85px;
}

ion-header {
    display: flex;
    margin: 10px;
}

ion-title {
    margin-left: -34px;
}

.setting_icon {
    position: relative;
    right: -190px;
    color: var(--ion-color-tertiary);
}


