ion-card{
    width: 30%;
    height: 300px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
}

ion-card div{
    display: flex;
    justify-content: space-between;}

/*ion-card ion-icon{
    margin-left: 90%;
}*/
