<ion-header [translucent]="true" class="ion-no-border">
  <img src="assets/img/logo.png">
  <ion-title>Kalender</ion-title>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-col size="8" class="ion-text-center" mode="md">
    <ion-title size="small">{{viewTitle}}</ion-title>
  </ion-col>

  <ion-grid>
    <ion-row>
      <ion-col size="2" class="ion-no-padding">
        <ion-button fill="clear" (click)="back()">
          <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
        </ion-button>
      </ion-col>
    
      <ion-col size="2" class="ion-no-padding">
        <ion-button fill="clear" (click)="next()">
          <ion-icon name="chevron-forward-outline" slot="start"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <calendar id="myCalendar" [startingDayMonth]="calendar.startingDayMonth" [eventSource]="eventSource"
          [currentDate]="calendar.currentDate" [formatDayHeader]="calendar.formatDayHeader"
          [formatDay]="calendar.formatDay" (onEventSelected)="onEventSelected($event)"
          (onTitleChanged)="onViewTitleChanged($event)" [monthviewDisplayEventTemplate]="template"
          (onRangeChanged)="onRangeChanged($event)" [queryMode]="calendar.queryMode">
        </calendar>
      </ion-col>
    </ion-row>
  </ion-grid>




  <ng-template #template let-view="view" let-row="row" let-col="col">
    <div [class.with-event]="view.dates[row*7+col].events.length">
      {{view.dates[row*7+col].label}}
      <div class="indicator-container">
        <div class="event-indicator" *ngFor="let e of view.dates[row*7+col].events"></div>
      </div>
    </div>
  </ng-template>
</ion-content>