<ion-header [translucent]="true" class="ion-no-border">
  <img class="logo" src="../../assets/img/starfish_happy.png">
  <ion-title>To Dos</ion-title>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="fixed_button">
    <ion-fab horizontal="center" class="open">
      <ion-fab-button (click)="openCard()" color="primary-contrast">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-label>Was steht heute an?</ion-label>
    </ion-fab>
  </div>
  <!--ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
    <li class="nav-item">
      <a href class="nav-link" (click)="logout()">LogOut</a>
    </li>
  </ul-->
  <ion-card *ngFor="let todo of todos">
    <ion-card-header>
      <div>
        <ion-icon name="create-outline" (click)="update(todo)"></ion-icon>
        <ion-icon name="trash-outline" (click)="deleteTodo(todo)"></ion-icon>
      </div>
      <ion-card-title>{{todo.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>{{todo.appointmentTime | date: 'dd.MM.yyyy' }}</ion-item>
     
    </ion-card-content>
  </ion-card>
</ion-content>