img {
  max-width: 70px;
}

ion-label {
  position: relative;
  top: 13px;
  font-size: 15px;
  color: #092c5e;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

div {
  padding-top: 20px;
}

