<div class="container">

  <div>
    <div class="login">
      <a [routerLink]="['../login']">Gehe zur Login</a>
    </div>

    <div>

      <mat-card>
        <mat-card-title>Registrierung</mat-card-title>

        <mat-card-content>
          <form [formGroup]="form" (ngSubmit)="register()">

            <mat-form-field>
              <input type="email" matInput placeholder="Email" formControlName="email">
              <mat-error *ngIf="email.touched && email.hasError('required')">Email ist erforderlich</mat-error>
              <mat-error *ngIf="email.touched && email.hasError('email')">Email muss gültig sein</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input type="password" matInput placeholder="Password" formControlName="password">
              <mat-error *ngIf="password.touched && password.hasError('required')">Passwort ist erforderlich</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input type="password" matInput placeholder="Password Confirmation" formControlName="passwordConfirm">
            </mat-form-field>

            <mat-hint *ngIf="!form.valid"><small>Bitte fülle alle Felder aus</small></mat-hint>
            <mat-error *ngIf="passwordConfirm.touched && form.hasError('passwordsNotMatching')"><small>Die Passwörter stimmen nicht überein!</small></mat-error>

            <div class="button">
              <button mat-button type="submit" [disabled]="!form.valid">Registrieren</button>
            </div>

          </form>
        </mat-card-content>

      </mat-card>

    </div>


  </div>

</div>