<ion-content>
 
  <div class="todo-content">
    <h1 class="page-title">My Todos</h1>

    <div class="todo-create">
      <div *ngFor="let todo of todos">
      <span class="todo-text">
          {{todo.title}}
        </span>
      </div>

      <div>
        <button (click)="createTodo(todoForm)">Speichern Todo in die Liste</button>
      </div>


      <form #todoForm="ngForm">
       

        <input placeholder="Titel" class="form-control" [(ngModel)]="newTodo.title" id="title" type="text" required
          name="title" #title="ngModel" >

        <input type="text" id="text" class="form-control" placeholder="todo" required name="text"
          [(ngModel)]="newTodolist.text" #text="ngModel">

      </form>

      <div>
        <button (click)="createTodolist(todoForm)">Speichern Todo in die Liste</button>
      </div>

    </div>



    <div class="todo-list">
      <div *ngFor="let todo of todolist" [class.finished]="todo.finised === true">
       
        <div class="todo-row" *ngIf="!editing || editingTodolist.id != todo.id">
          <a class="todo-completed">
            <ion-checkbox [(ngModel)]="todo.finished" (click)="toggleCompleted(todo)"
              class="material-icons toggle-completed-checkbox"></ion-checkbox>
          </a>
          <span class="todo-text">
            {{todo.text}}
          </span>
          <span class="todo-actions">
            <a (click)="editTodolist(todo)">
              <i class="material-icons edit">edit</i>
            </a>
            <a (click)="deleteTodolist(todo.id)">
              <i class="material-icons delete">clear</i>
            </a>
          </span>
        </div>

        <div class="todo-edit" *ngIf="editing && editingTodolist.id === todo.id">
          <input class="form-control" type="text" [(ngModel)]="editingTodolist.text" required>

          <span class="edit-actions">
            <a (click)="updateTodolist(editingTodolist)">
              <i class="material-icons">done</i>
            </a>
            <a (click)="clearEditing()">
              <i class="material-icons">clear</i>
            </a>
          </span>
        </div>

      </div>
    </div>
    <div class="no-todos" *ngIf="todolist && todolist.length == 0">
      <p>No Todos Found!</p>
    </div>
  </div>

</ion-content>