<ion-header>
  <ion-toolbar>
    <ion-button size="small" fill="clear" (click)="saveTodo(newTodo)">
      <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
    </ion-button>
    <ion-button size="small" fill="clear" (click)="abbrechen()">
      <ion-icon slot="icon-only" name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form">
    <form [formGroup]="newTodo" #todoForm="ngForm">
      <section>

        <div class="ion-padding-top">
          <div class="ion-padding-top">

            <mat-form-field>
              <input matInput ngModel="{{title}}" placeholder="Titel" formControlName="title" id="title" type="text" name="title">
            </mat-form-field>

          </div>

          <ion-item id="date">
            <ion-label>Dateline</ion-label>

            <ng-container *ngIf="appointmentTime; else todo ">
              <ion-text slot="end" >
              {{appointmentTime | date: 'dd.MM.yyyy' }}
            </ion-text>
            </ng-container>

            <ng-template #todo>
              <ion-text slot="end">
                {{todos.appointmentTime | date: 'dd.MM.yyyy' }}
              </ion-text> 
            </ng-template>

          

          </ion-item>
          <ion-popover trigger="date" size="cover">
            <ng-template>
              <ion-datetime presentation="date" name="date" [min]="minDate" [max]="maxDate"
                [(ngModel)]="todos.appointmentTime" formControlName="appointmentTime" locale="de-DE"></ion-datetime>
            </ng-template>
          </ion-popover>

        </div>
      </section>


      <ion-card>
        <ion-card-header>
          <ion-text>
            Todos erstellen
          </ion-text>
          <ion-button class="save" (click)="addProduct()">
            <ion-icon name="add-outline"> </ion-icon>
          </ion-button>
        </ion-card-header>

        <ion-card-content>
          <div formArrayName="todolist" *ngFor="let t of newTodo.get('todolist')['controls'] ; let i = index;">
            <div [formGroupName]="i" class="todo-list">
              <div class="item">
                <div>
                  <ion-checkbox type="checkbox" formControlName="finished"></ion-checkbox>
                </div>
                <div class="todo-text">
                  <mat-form-field [hideRequiredMarker]="true">
                    <input matInput id="text" placeholder="Todoitem" type="text" class="form-control" formControlName="text">
                  </mat-form-field>
                </div>
                <div>
                  <ion-button (click)="delete(id)" fill="clear">
                    <ion-icon name="close-outline"></ion-icon>
                  </ion-button>
                </div>
              </div>
             
              <div *ngFor="let tl of todolist2" class="item">
                  <div>
                    <ion-checkbox type="checkbox" formControlName="finished"></ion-checkbox>
                  </div>
                  <div class="todo-text">
                    <mat-form-field [hideRequiredMarker]="true">
                      <input matInput id="text" placeholder="{{tl.text}}" type="text" class="form-control" formControlName="text">
                    </mat-form-field>
                  </div>
                <div>
                  <ion-button (click)="delete(id)" fill="clear">
                    <ion-icon name="close-outline"></ion-icon>
                  </ion-button>
                </div>
              </div>
              
                
              <!--span>{{t.text}}</span-->
            </div>
          
            <!--span>{{t.text}}</span-->
              
          </div>

          <!--div *ngFor="let t of todolist2" class="todo-list">
            <div>
              <ion-checkbox type="checkbox" formControlName="finished"></ion-checkbox>
            </div>
            <div class="todo-text">
              <mat-form-field [hideRequiredMarker]="true">
                <input matInput id="text" placeholder="{{t.text}}" type="text" class="form-control" formControlName="text">
              </mat-form-field>
            </div>
            <div>
              <ion-button (click)="delete(id)" fill="clear">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </div>
          </div-->
        </ion-card-content>

      </ion-card>
    </form>
  </div>
</ion-content>